@model List<ZooApp.Models.Animal>

@{
    ViewData["Title"] = "Animals";
}

<h1>Animals</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        Nieuw dier toevoegen
    </a>
</p>

<partial name="_SearchForm" />

<partial name="_AnimalTable" model="Model" />