<div class="card mb-3">
    <div class="card-header">
        Animal Statistics
    </div>

    <div class="card-body">
        <p>Total animals: @ViewBag.TotalAnimals</p>
        <p>Total categories: @ViewBag.TotalCategories</p>
        <p>Average age: @ViewBag.AverageAge years</p>
    </div>
</div>